{% extends 'catalog/base.html' %}

{% block title %}Контакты - Skystore{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
        <div class="card h-100 shadow-sm">
            <div class="card-header text-center fw-bold text-primary">Наши реквизиты</div>
            <div class="card-body">
                <table class="table table-borderless">
                    <tr><td class="fw-bold" style="width: 30%;">Страна</td><td>USA</td></tr>
                    <tr><td class="fw-bold">ИНН</td><td>91-1144442</td></tr>
                    <tr><td class="fw-bold">Адрес</td><td>Redmond, WA, 98052-6399</td></tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
        <div class="card h-100 shadow-sm">
            <div class="card-header text-center fw-bold text-primary">Свяжитесь с нами</div>
            <div class="card-body">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Имя</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя" required>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Телефон</label>
                        <input type="text" name="phone" class="form-control" id="phone" placeholder="Контактный телефон" required>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Сообщение</label>
                        <textarea name="message" class="form-control" id="message" rows="4" placeholder="Ваше сообщение" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}